/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.oj-hybrid-applayout-page {
    min-height: 96.5vh;
    background-color: #ffffff;
}

.oj-hybrid-applayout-page-pc {
    min-height:600px !important;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.content-win-mob {
    min-height:98vh !important;
    margin-top: -5px !important;
}

.content-win-pc {
    min-height:600px !important;
    margin-top: 13px !important;
}

.bg{
    background: linear-gradient(lightgrey, #EDEDED);
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: 0.95em;
}