<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
    <div data-bind="if:isMobileDev()===false">
        <div class="oj-applayout-fixed-top" style="height:46px;max-width:1440px;z-index:999;" >
            <div class="oj-flex">
                <div class="oj-flex-item oj-sm-0 oj-md-2"></div>
                <div class="oj-flex-item oj-sm-12 oj-md-8" style="background-color:#778899;text-align:center;">
                    <h2 style="color:white;">Oracle数据库中文资料大全</h2>
                </div>
                <div class="oj-flex-item oj-sm-0 oj-md-2"></div>
            </div>
        </div>
    </div>
    <div class="oj-flex">
        <div class="oj-flex-item oj-sm-0 oj-md-2"></div>
        <div class="oj-flex-item oj-sm-12 oj-md-8">
            <div data-bind="if:isMobileDev()===false">
                <div style="height:37px;"></div>
            </div>
            <bot-client id="bot-client" channel="[[channel]]" 
                websocket-connection-url="[[websocketConnectionUrl]]" user-id="[[userId]]" user-name="[[fullName]]">
            </bot-client>
        </div>
        <div class="oj-flex-item oj-sm-0 oj-md-2"></div>
    </div> 
